main {
  margin: 10px;

  button {
    cursor: pointer;
  }

  .info {
    display: flex;
    justify-content: space-between;

    .leftInfo {
    }

    .rightInfo {
      display: flex;
      gap: 10px;

      .overallRating {
        padding: 5px;

        .overallInfo {
          display: flex;
          justify-content: space-between;

          img {
            width: 30px;
            filter: invert(76%) sepia(89%) saturate(757%) hue-rotate(348deg)
              brightness(102%) contrast(92%);
          }
        }
        &:hover {
          cursor: pointer;
          background-color: rgb(245, 242, 242);
        }
      }

      .myRating {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .bottomRating {
          display: flex;
          justify-content: center;
          gap: 5px;
          margin: 6px 0 0;

          img {
            width: 30px;
            filter: invert(76%) sepia(62%) saturate(5651%) hue-rotate(192deg)
              brightness(101%) contrast(87%);
          }

          p {
            font-size: 20px;
            color: #5799ef;
            font-weight: 900;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(245, 242, 242);
        }
      }

      .myVotes {
        display: flex;
        flex-direction: column;
        padding: 5px;

        .bottomPart {
          display: flex;
          justify-content: center;
          margin: 6px 0 0;

          img {
            width: 30px;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(245, 242, 242);
        }
      }
    }
  }

  hr {
    margin-block: 10px;
  }

  .content {
    display: flex;
    gap: 15px;

    .details {
      .genreUL {
        display: flex;
        gap: 5px;
        padding: 0;

        li {
          list-style: none;
          border: 1px solid black;
          border-radius: 20px;
          padding: 5px 10px;
        }
      }

      .about {
        margin: 10px 0 0;
      }

      .writersList {
        display: flex;
      }

      .countryList {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          display: flex;
          align-items: center;
          gap: 2px;
          text-decoration: none;
        }
      }
    }
  }
}
