<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [class.submitted]="isSubmitted"
>
  <button routerLink="">Go back</button>
  <div class="inputContainer NameInput">
    <label for="movieName">Movie Name:</label>
    <input type="text" id="movieName" formControlName="movieName" />
    <ng-container *ngIf="form.controls['movieName'].errors && isSubmitted">
      <p
        class="error name-blank-error"
        *ngIf="form.controls['movieName'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        Please enter information
      </p>
      <p
        class="error name-min-error"
        *ngIf="form.controls['movieName'].errors['minlength']"
        [ngStyle]="{ color: '#F00' }"
      >
        Name should be at least 3 letters
      </p>
      <p
        class="error name-max-error"
        *ngIf="form.controls['movieName'].errors['maxlength']"
        [ngStyle]="{ color: '#F00' }"
      >
        Name should be less than 20 letters
      </p>
      <p
        class="error name-taken-error"
        *ngIf="form.controls['movieName'].errors['usedName']"
        [ngStyle]="{ color: '#F00' }"
      >
        Movie name already used
      </p>
    </ng-container>
  </div>
  <hr />
  <div class="inputContainer CountriesInput">
    <label for="movieCountries">Movie Countries:</label>
    <div class="selectAdd" formArrayName="movieCountries">
      <div
        class="selectDiv"
        *ngFor="
          let country of form.controls.movieCountries?.controls;
          let i = index
        "
      >
        <select
          id="movieCountries"
          class="movieSelect"
          [ngClass]="{ pointerCursor: true }"
          [formControl]="country"
        >
          <option [value]="''" hidden>select</option>
          <option
            [value]="countryName"
            *ngFor="
              let countryName of []
                | countries : form.value.movieCountries : country.value
            "
          >
            {{ countryName }}
          </option>
        </select>
        <button
          type="button"
          [ngClass]="{ pointerCursor: CountriesLength !== 1 }"
          [ngStyle]="{ margin: '0 0 0 10px' }"
          (click)="removeCountry(i)"
          [disabled]="CountriesLength === 1"
        >
          Remove
        </button>
      </div>

      <button
        type="button"
        [ngStyle]="{ margin: '10px 0 0' }"
        [ngClass]="{ pointerCursor: !(CountriesLength === 5) }"
        (click)="addCountry()"
        [disabled]="CountriesLength === 5"
      >
        Add countries
      </button>
    </div>
  </div>
  <hr />
  <div class="inputContainer PremieresInput">
    <label for="premiereCountries">Premiere Countries:</label>
    <div class="selectAdd" formArrayName="moviePremierePlace">
      <div
        class="selectDiv"
        *ngFor="
          let premiereCountryArr of form.controls.moviePremierePlace.controls;
          let i = index
        "
      >
        <select
          id="premiereCountries"
          class="movieSelect"
          [ngClass]="{ pointerCursor: true }"
          [formControl]="premiereCountryArr"
        >
          <option [value]="''" hidden>select</option>
          <option
            [value]="premiereCountry"
            *ngFor="
              let premiereCountry of []
                | premieres
                  : form.value.moviePremierePlace
                  : premiereCountryArr.value
            "
          >
            {{ premiereCountry }}
          </option>
        </select>
        <button
          type="button"
          [ngStyle]="{ margin: '0 0 0 10px' }"
          [ngClass]="{ pointerCursor: PremieresLength !== 1 }"
          [disabled]="PremieresLength === 1"
          (click)="removePremiere(i)"
        >
          Remove
        </button>
      </div>

      <button
        type="button"
        [ngStyle]="{ margin: '10px 0 0' }"
        [ngClass]="{ pointerCursor: !(PremieresLength === 10) }"
        (click)="addPremiere()"
        [disabled]="PremieresLength === 10"
      >
        Add premieres
      </button>
    </div>
  </div>
  <hr />
  <div class="inputContainer TypeInput">
    <p>Movie type:</p>
    <div class="option1">
      <input
        type="radio"
        id="movieType"
        [value]="movieType.Movie"
        [ngClass]="{ pointerCursor: true }"
        checked
        formControlName="movieType"
      />
      <label for="movieType" [ngClass]="{ pointerCursor: true }">{{
        movieType.Movie
      }}</label>
    </div>
    <div class="option2">
      <input
        type="radio"
        id="seriesType"
        [value]="movieType.Series"
        [ngClass]="{ pointerCursor: true }"
        formControlName="movieType"
      />
      <label for="seriesType" [ngClass]="{ pointerCursor: true }">{{
        movieType.Series
      }}</label>
    </div>
  </div>
  <hr />
  <div
    class="inputContainer SeriesEpisodesNumInput"
    *ngIf="form.controls['seriesEpisodesNum']"
  >
    <label for="numOfSeries">Number of episodes:</label>
    <input type="number" id="numOfSeries" formControlName="seriesEpisodesNum" />
    <ng-container
      *ngIf="form.controls['seriesEpisodesNum'].errors && isSubmitted"
    >
      <p
        class="error episodes-num-blank-error"
        *ngIf="form.controls['seriesEpisodesNum'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        Please enter information
      </p>
    </ng-container>
  </div>
  <div
    class="inputContainer movieRuntimeInput"
    *ngIf="form.controls['movieRuntime']"
  >
    <label for="movieRuntime">Movie runtime (minutes):</label>
    <input type="number" id="movieRuntime" formControlName="movieRuntime" />
    <ng-container *ngIf="form.controls['movieRuntime'].errors && isSubmitted">
      <p
        class="error runtime-blank-error"
        *ngIf="form.controls['movieRuntime'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        Please enter information
      </p>
      <p
        class="error runtime-min-error"
        *ngIf="form.controls['movieRuntime'].errors['min']"
        [ngStyle]="{ color: '#F00' }"
      >
        Movie runtime should be longer than 60 minutes
      </p>
      <p
        class="error runtime-max-error"
        *ngIf="form.controls['movieRuntime'].errors['max']"
        [ngStyle]="{ color: '#F00' }"
      >
        Movie runtime should be less than 180 minutes
      </p>
    </ng-container>
  </div>
  <hr
    *ngIf="form.controls['seriesEpisodesNum'] || form.controls['movieRuntime']"
  />
  <div class="inputContainer genreList">
    <app-genres formControlName="movieGenre"></app-genres>
    <ng-container *ngIf="form.controls['movieGenre'].errors && isSubmitted">
      <p
        class="error genres-empty-error"
        *ngIf="form.controls['movieGenre'].errors['genresEmpty']"
        [ngStyle]="{ color: '#F00' }"
      >
        the movie should be at least one genre
      </p>
    </ng-container>
  </div>
  <hr />
  <div class="inputContainer dateInput">
    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="movieReleaseDate" />
    <ng-container
      *ngIf="form.controls['movieReleaseDate'].errors && isSubmitted"
    >
      <p
        class="error date-error"
        *ngIf="form.controls['movieReleaseDate'].errors['pastDateSelected']"
        [ngStyle]="{ color: '#F00' }"
      >
        Please select a future date
      </p>
      <p
        class="error date-error"
        *ngIf="form.controls['movieReleaseDate'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        Please enter information
      </p>
    </ng-container>
  </div>
  <hr />
  <div class="inputContainer ratingInput">
    <app-rating [maxRating]="10" formControlName="movieRating"></app-rating>
    <ng-container *ngIf="form.controls['movieRating'].errors && isSubmitted">
      <p
        class="error rating-min-error"
        *ngIf="form.controls['movieRating'].errors['min']"
        [ngStyle]="{ color: '#F00' }"
      >
        rating minimum is 1
      </p>
    </ng-container>
  </div>
  <button
    type="submit"
    [ngClass]="{ pointerCursor: true }"
    [ngStyle]="{ margin: '0 0 10px' }"
  >
    Submit
  </button>
  <span
    *ngIf="isSubmitted && form.invalid"
    [ngStyle]="{ margin: ' 0 0 0 10px', color: '#F00' }"
    >Please enter the correct information</span
  >
</form>
