<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inputContainer">
    <label for="movieName">Movie Name:</label>
    <input type="text" id="movieName" formControlName="movieName" />
  </div>
  <hr />
  <div class="inputContainer">
    <label for="movieCountries">Movie Countries:</label>
    <div class="selectAdd">
      <select id="movieCountries" formArrayName="movieCountries">
        <option value="null" hidden>select</option>
        <option
          [value]="countryInfo.name.common"
          *ngFor="let countryInfo of countryNames"
        >
          {{ countryInfo.name.common }}
        </option>
      </select>
      <button [ngStyle]="{ cursor: 'pointer' }">x</button>
    </div>
  </div>
  <hr />
  <div class="inputContainer">rame</div>
  <hr />
  <div class="inputContainer">
    <p>Movie type:</p>
    <div class="option1">
      <input
        type="radio"
        id="movieType"
        [value]="movieType.Movie"
        [ngStyle]="{ cursor: 'pointer' }"
        checked
        formControlName="movieType"
      />
      <label for="movieType">{{ movieType.Movie }}</label>
    </div>
    <div class="option2">
      <input
        type="radio"
        id="seriesType"
        [value]="movieType.Series"
        [ngStyle]="{ cursor: 'pointer' }"
        formControlName="movieType"
      />
      <label for="seriesType">{{ movieType.Series }}</label>
    </div>
  </div>
  <hr />
  <div class="inputContainer" *ngIf="form.controls['seriesEpisodesNum']">
    <label for="numOfSeries">Number of episodes:</label>
    <input type="number" id="numOfSeries" formControlName="seriesEpisodesNum" />
  </div>
  <div class="inputContainer" *ngIf="form.controls['movieRuntime']">
    <label for="movieRuntime">Movie runtime:</label>
    <input type="number" id="movieRuntime" formControlName="movieRuntime" />
  </div>
  <hr
    *ngIf="form.controls['seriesEpisodesNum'] || form.controls['movieRuntime']"
  />
  <div class="inputContainer genreList">
    <p>Genres:</p>
    <div class="checkbox-container">
      <div class="checkbox" *ngFor="let genre of genreList">
        <input
          type="checkbox"
          [value]="genre"
          [ngStyle]="{ cursor: 'pointer' }"
        />
        <span>{{ genre }}</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="inputContainer">
    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="movieReleaseDate" />
  </div>
  <button type="submit">Submit</button>
</form>
