main {
  margin: 10px;

  button {
    cursor: pointer;
    margin: 0 0 10px;
  }

  .votesBtn {
    margin: 0 0 0 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      gap: 5px;

      button {
        margin: 0;
      }
    }
  }

  .results {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .oneResult {
      border: 1px solid black;
      padding: 15px;
      display: flex;
      gap: 20px;
      cursor: pointer;

      img {
        width: 150px;
      }

      &:is(:hover, :active) {
        background-color: rgb(245, 242, 242);
      }
    }
  }
}
