<main>
  <div class="container">
    <div class="left">
      <input type="text" [(ngModel)]="content" />
      <button (click)="search()">Search</button>
    </div>
    <div class="right">
      <button routerLink="votes">My votes</button>
      <button routerLink="my movies">My movies</button>
      <button routerLink="movie plan">Plan a movie</button>
    </div>
  </div>

  <ng-container *ngIf="searched">
    <ng-container *ngIf="searchResult$ | async as result">
      <div class="results">
        <div
          *ngFor="let movie of result.Search"
          class="oneResult"
          (click)="chosenMovie(movie)"
        >
          <img [src]="movie.Poster" alt="Poster of searched movie or TV show" />
          <div class="title-year">
            <h1>{{ movie.Title }}</h1>
            <h2>{{ movie.Year }}</h2>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</main>
