button {
  margin: 10px 0 0 10px;
  cursor: pointer;
}

main {
  margin: 10px;
  display: flex;
  justify-content: center;

  .container {
    width: 1000px;
    max-width: 1000px;
    background-color: rgb(232, 223, 223);

    section {
      padding: 20px;
    }

    .overallInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 28px;
      }
    }

    .listInfo {
      display: flex;
      justify-content: space-between;
    }

    .listOfMovies {
      display: flex;
      justify-content: space-between;

      ul {
        width: 100%;
        padding: 0;

        li {
          width: 100%;
          display: flex;
          gap: 20px;
          list-style: none;
          margin: 0 0 20px;
          position: relative;

          .poster {
            width: 150px;
          }

          .general-info {
            .movieInformation {
              display: flex;
              gap: 10px;

              .text-info {
                .first {
                  display: flex;
                  align-items: center;

                  .ratingsList {
                    display: flex;

                    .rating {
                      display: flex;
                    }

                    .imdbRating {
                      img {
                        filter: invert(82%) sepia(46%) saturate(2718%)
                          hue-rotate(350deg) brightness(109%) contrast(92%);
                      }
                    }
                    .myRating {
                      img {
                        filter: invert(62%) sepia(24%) saturate(5489%)
                          hue-rotate(190deg) brightness(98%) contrast(91%);
                      }
                    }
                  }
                }
              }

              .edit-delete {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                gap: 10px;

                .delete,
                .edit,
                .save,
                .cancel {
                  max-height: 80px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 5px;
                  padding: 10px;
                  cursor: pointer;

                  &:is(:hover, :active) {
                    background-color: rgb(216, 205, 205);
                  }

                  p {
                    text-transform: uppercase;
                  }

                  img {
                    width: 33px;
                    height: 30px;
                  }
                }

                .delete {
                  img {
                    filter: invert(22%) sepia(96%) saturate(7395%)
                      hue-rotate(358deg) brightness(121%) contrast(113%);
                  }

                  p {
                    color: #f00;
                  }
                }

                .save {
                  img {
                    filter: invert(61%) sepia(43%) saturate(5577%)
                      hue-rotate(83deg) brightness(124%) contrast(118%);
                  }

                  p {
                    color: rgb(49, 148, 49);
                  }
                }

                .cancel {
                  img {
                    filter: invert(22%) sepia(96%) saturate(7395%)
                      hue-rotate(358deg) brightness(121%) contrast(113%);
                  }

                  p {
                    color: #f00;
                  }
                }
              }
            }

            .userReview {
              max-width: 752px;
              margin: 5px 0 0;
            }
          }
        }
      }
    }
  }
}
