<button routerLink="../" class="secondBtn">Go back</button>
<main>
  <div class="container">
    <section class="overallInfo">
      <h2 class="title">Your Votes</h2>
    </section>
    <hr />
    <section class="listOfMovies">
      <ng-container *ngIf="favoriteMoviesList$ | async as list">
        <ul>
          <li *ngFor="let movie of list">
            <img [src]="movie.Poster" alt="poster of a movie" class="poster" />
            <div class="general-info">
              <div class="movieInformation">
                <div class="text-info">
                  <div class="first">
                    <h3>{{ movie.Title }}</h3>
                    <div class="ratingsList">
                      <div class="imdbRating rating">
                        <img src="assets/star.svg" alt="yellow star icon" />
                        <span>{{ movie.imdbRating }}</span>
                      </div>
                      <div class="myRating rating">
                        <img src="assets/star.svg" alt="blue star icon" />
                        <span>{{ movie.myVote }}</span>
                      </div>
                    </div>
                  </div>
                  <p>
                    <span>{{ movie.Type | titlecase }}</span> -
                    <span>{{ movie.Year }}</span> -
                    <span>{{ movie.Rated }}</span> -
                    <span>{{ movie.Runtime }}</span>
                  </p>
                  <p>{{ movie.Actors }}</p>
                </div>
                <div class="edit-delete">
                  <div
                    class="edit"
                    (click)="edit(movie.id)"
                    *ngIf="selectedJokeId !== movie.id"
                    [ngStyle]="{
                      'pointer-events': selectedJokeId ? 'none' : 'auto'
                    }"
                  >
                    <img src="assets/edit.svg" alt="edit icon" />
                    <p>edit</p>
                  </div>
                  <div
                    class="delete"
                    (click)="delete(movie.id)"
                    *ngIf="selectedJokeId !== movie.id"
                    [ngStyle]="{
                      'pointer-events': selectedJokeId ? 'none' : 'auto'
                    }"
                  >
                    <img src="assets/delete.svg" alt="delete icon" />
                    <p>delete</p>
                  </div>
                  <div
                    class="save"
                    *ngIf="selectedJokeId == movie.id"
                    (click)="save()"
                  >
                    <img src="assets/checkbox.svg" alt="save icon" />
                    <p>save</p>
                  </div>
                  <div
                    class="cancel"
                    *ngIf="selectedJokeId == movie.id"
                    (click)="cancel()"
                  >
                    <img src="assets/cancelX.svg" alt="cancel icon" />
                    <p>cancel</p>
                  </div>
                </div>
              </div>
              <p class="userReview" *ngIf="selectedJokeId !== movie.id">
                {{ movie.myReview }}
              </p>
              <input
                type="text"
                *ngIf="selectedJokeId == movie.id"
                [value]="movie.myReview"
                #input
              />
            </div>
          </li>
        </ul>
      </ng-container>
    </section>
  </div>
</main>
