:host {
  width: 100%;
}

.genresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  .genre {
    input {
      cursor: pointer;
    }
    label {
      margin: 0 0 0 5px;
      cursor: pointer;
      user-select: none;
    }
  }
}
